body{
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    /* background-image: url('../img/5_1634177697.png');
    background-repeat: no-repeat;
    background-attachment: fixed; */
}
/* .back-color{
    background-color: whitesmoke;
} */
div{
    padding: 0;
    margin: 0;
}

/* start menu */
.main{
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 5px gray !important;
}
.nav-item a{
    color: red;
}
.nav-item a:hover{
    color: gray;
}
.navbar{
    margin: 0;
    padding: 0;
    font-family: 'Battambang', cursive; 
    font-size: 22px;
    color: black;
}
.nav-item a{
    color: rgb(114, 102, 102) !important;
}
.nav-item a:hover{
    color: rgb(0, 0, 0) !important;
}
.navbar-brand img{
    width: 35%;
}
/* end menu */

/* start slide */
.img-slide{
    position: relative;
}
.read{
    width: 100%;
}
.contact{
    width: 100%;
}
.carousel-item h5{
    font-size: 20px;
    line-height: 45px;
}
.slide{
    margin: 0 !important;
    padding: 0 !important;
}
.carousel-inner .text{
    width: 370px;
    position: absolute;
    text-align: left;
    top: 15%;
    left: 120px;
    bottom: 0;
    right: 0;
}
.carousel-inner p{
    margin-top: 30px;
}
.carousel-item img{
    width: 100% !important;
}
.carousel-item h5,h3{
    color: blue;
    font-size: 30px;
    font-family: 'Koulen', cursive;
}
.list-group-item h4{
    color: black;
    font-size: 25px;
    font-family: 'Koulen', cursive;
    margin: 7px 0px;
}
.list-group-item small{
    color: gray;
    font-size: 16px;
    font-family: 'Battambang', cursive;
}
.list-group-item p{
    color: black;
    font-size: 19px;
    font-family: 'Battambang', cursive;
    margin: 7px 0px 7px 0px;
}
.carousel-item p{
    color: black;
    font-family: 'Battambang', cursive;
    font-size: 20px;
}
.carousel-item a{
    font-family: 'Battambang', cursive;
}
/* end slide */

/* start content */
.title1{
    color: blue;
    font-size: 35px;
    font-family: 'Koulen', cursive;
}
.text1{
    font-size: 20px;
    font-family: 'Battambang', cursive;
}
.box{
    width: 100%;
    background-color: white;
    padding: 7px;
    box-shadow: 1px 2px 6px gray;
    position: relative;
}
.box:hover .position{
    display: block;
}
.box img{
    width: 100%;
    transition: opacity .25s ease-in-out;
}
.box img:hover{
    background-color: white;
    opacity: 0.2;
    transition: opacity .25s ease-in-out;
}
.position {
    position: absolute;
    text-align: center;
    top: 40%;
    left: 0;
    bottom: 0;
    right: 0;
    font-family: 'Battambang', cursive;
    font-size: 20px;
    display: none;
}
.box p{
    text-align: center;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Koulen', cursive !important;
}
.show-more-service{
    font-family: 'Battambang', cursive;
    padding-left: 30px !important;
    padding-right: 30px !important;
}
.show-more-service .btn{
    background-color: blue;
    padding-left: 150px;
    padding-right: 150px;
    font-size: 18px;
}
.main-question i{
    border: 1px solid blue;
    color: blue;
}
.question{
    font-size: 35px;
    color: blue;
    font-family: 'Koulen', cursive;
}
.answer{
    font-size: 25px;
    font-family: 'Battambang', cursive;    
}
.title-customer{
    color: blue;
    font-size: 35px;
    font-family: 'Koulen', cursive;
}
.customer img{
    width: 100%;
}
.office{
    font-size: 30px;
    font-family: 'Koulen', cursive;
}
.office1{
    font-size: 30px;
    font-family: 'Koulen', cursive;
}
.office-left p{
    font-size: 18px;
    width: 65%;
    font-family: 'Battambang', cursive;
}
.office-right p{
    font-size: 17px;
    font-family: 'Battambang', cursive;
    line-height: 17px;
}
/* end content */

/* start footer */
.footer{
    background-color: blue;
}
.text-footer{
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 20px;
    font-family: 'Battambang', cursive;
}
.icon{
    text-align: right;
    color: white;
    font-size: 50px;
}
.icon:hover{
    cursor: pointer;
}
.accordion-item{
    font-family: 'Battambang', cursive;
}
button{
    font-family: 'Battambang', cursive;
}
.sub{
    font-size: 18px;
    color: blue;
}
.accordion-button:is(.collapsed) {
    font-size: 18px;
    box-shadow: none;
}
.accordion-button:not(.collapsed) {
    font-size: 18px;
    color: yellow;
    box-shadow: none;
    background-color: rebeccapurple;
}
.service-skill{
    margin-bottom: 35px;
}
.service-skill li{
    font-family: 'Battambang', cursive;
    font-size: 18px;
}
.video-border{
    border: 1px solid black;
}
.table-bordered h6{
    font-family: 'Koulen', cursive;
}
.video-scroll{
    display: block;
    height: 356px;
    overflow: auto;
}
.video-scroll tr td a{
    text-decoration: none;
    color: black;
}
.video-scroll tr td .row{
    transition: 0.5s;
}
.video-scroll tr td:hover .row{
    background: lightblue;
    transition: 0.5s;
}
.question{
    margin-top: 10px;
}
.question h3{
    font-family: 'Koulen', cursive;
    color: black;
    margin-bottom: 0;
}
.time-work{
    margin-top: 30px;
}
.time-work h3{
    padding: 10px 0px;
    border: none !important;
}
.time-work p{
    padding: 0px 0px 0px 30px ;
    margin: 0;
    font-size: 18px;
    font-family: 'Battambang', cursive;
}
.media i{
    transition: 0.5s;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 40px; 
    color: blue; 
    padding: 30px; 
    border: 2px solid blue;
}
.media i:hover{
    transition: 0.5s;
    color: white;
    background: blue;
}
.back-attachment{
    background: black;
    height: 350px;
    opacity: 2.5;
    background-image: url('../img/1 (3).png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.back-attachment h1{
    margin-top: 150px;
    border: 1px solide gray;
    color: white;
    font-size: 30px;
    font-family: 'Koulen', cursive;
}
.back-attachment a{
    font-family: 'Battambang', cursive;
    font-size: 20px;
    border: 2px solid white;
    color: white;
}
.back-attachment a:hover{
    border: 2px solid white;
    color: black;
    background: white;
}

/* end footer */